
body{
	font-family:david;
	
}

table, tr, td{
	border: 1px solid black;
}
body {
    background-color: lightblue;
	font:italic bold 12px/30px Georgia, serif;
}

h1 {
    color: white;
    text-align: center;
}

h1 {
    text-shadow: 2px 2px 5px red;
}
p {
    font-family: verdana;
    font-size: 20px;

}